.idea/.gitignore
.idea/github_cub3d.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug

.idea
libft/build
.DS_Store
.vscode
*.o
*.out
*.a
*.dylib
cub3D
*.swiftmodule
*.swiftdoc
mlx/man/
CTestTestfile.cmake